{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Questions</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('question.create') }}" class="btn btn-outline-secondary">Create</a>
            </div>
        </div>
    </div>

    {% if questions is not empty %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.label }}</td>
                <td>
                    <span data-feather="edit"></span> <a href="{{ path('question.update', {id: question.id}) }}">update</a>&nbsp; &nbsp;
                    <span data-feather="trash"></span> <a href="{{ path('question.delete', {id: question.id}) }}">delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        No data yet.
    {% endif %}

{% endblock body %}
