{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Evaluations</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('evaluation.create') }}" class="btn btn-outline-secondary">Create</a>
            </div>
        </div>
    </div>

    {% if evaluations is not empty %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Candidate</th>
                <th>Position</th>
                <th>Score</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.candidate }}</td>
                <td>{{ evaluation.position }}</td>
                <td>{{ evaluation.score }}</td>
                <td><span class="badge badge-pill {% if evaluation.status == true %}badge-success{% else %}badge-warning{% endif %}">{{ evaluation.statusLabel }}</span></td>
                <td>
                    <span data-feather="edit"></span> <a href="{{ path('evaluation.update', {id: evaluation.id}) }}">update</a>&nbsp; &nbsp;
                    <span data-feather="trash"></span> <a href="{{ path('evaluation.delete', {id: evaluation.id}) }}">delete</a>&nbsp; &nbsp;
                    <span data-feather="printer"></span> <a href="{{ path('evaluation.print', {id: evaluation.id}) }}">print</a>&nbsp; &nbsp;
                    <span data-feather="play"></span> <a href="{{ path('evaluation.run', {id: evaluation.id}) }}">run</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        No data yet.
    {% endif %}

{% endblock body %}
